<div class="h-16 flex items-center justify-between text-white-primary">
  <div class="flex items-center gap-8">
    @for (link of links; track link.href) {
      <p
        [routerLink]="link.href"
        routerLinkActive="text-white-primary"
        [routerLinkActiveOptions]="{ exact: true }"
        class="cursor-pointer text-gray-primary text-sm hover:text-white-primary transition-colors duration-300"
      >
        {{ link.label }}
      </p>
    }
  </div>

  <button
    class="p-3 flex items-center justify-center cursor-pointer w-6 h-6 rounded-sm hover:bg-black-secondary transition-colors duration-300"
  >
    <lucide-angular
      [name]="isLightTheme() ? moonIcon : sunIcon"
      (click)="onToggleTheme()"
      class="cursor-pointer w-4 h-4 text-gray-primary"
    ></lucide-angular>
  </button>
</div>
