<div class="mt-8 w-full pb-8">
  <p class="text-white-primary text-2xl">Connect</p>

  <div class="mt-6 flex items-center gap-6">
    <a
      href="mailto:murillonahas2003@gmail.com"
      class="underline text-white-primary hover:text-gray-primary transition-colors duration-300 text-xs cursor-pointer"
      >Email</a
    >
    <a
      href="https://github.com/murillo-nahas"
      target="_blank"
      class="underline text-white-primary hover:text-gray-primary transition-colors duration-300 text-xs cursor-pointer"
      >GitHub</a
    >
    <a
      href="https://linkedin.com/in/murillo-nahas"
      target="_blank"
      class="underline text-white-primary hover:text-gray-primary transition-colors duration-300 text-xs cursor-pointer"
      >LinkedIn</a
    >
  </div>
</div>
