<div
  class="w-full rounded-sm transition-all duration-300 cursor-pointer group py-3"
  [routerLink]="'/posts/' + slug()"
  aria-label="Read {{ title() }}"
>
  <h3
    class="text-white-primary hover:text-gray-primary underline decoration-2 underline-offset-2 transition-colors duration-300 text-base sm:text-lg font-medium"
  >
    {{ title() }}
  </h3>
  <p class="mt-2 text-gray-primary text-sm sm:text-base leading-relaxed">
    {{ description() }}
  </p>
  <p class="mt-2 text-gray-primary text-xs sm:text-sm opacity-70">
    {{ date() }}
  </p>
</div>
