<article
  class="group w-full cursor-pointer hover:bg-black-secondary rounded-sm p-3 transition-colors duration-500"
>
  <div class="flex items-center justify-between">
    <a
      [href]="link()"
      target="_blank"
      rel="noopener noreferrer"
      class="text-white-primary underline hover:decoration-gray-primary hover:text-gray-primary transition-colors duration-300 cursor-pointer"
    >
      {{ name() }}
    </a>

    <a
      [href]="link()"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Open project link"
      class="hidden group-hover:block"
    >
      <lucide-angular
        [name]="linkIcon"
        class="cursor-pointer hover:text-white-primary transition-colors duration-300 w-4 h-4 text-gray-primary"
      ></lucide-angular>
    </a>
  </div>
  <p class="mt-2 text-gray-primary text-sm">{{ description() }}</p>

  <div class="mt-3 flex flex-wrap gap-2">
    @for (tech of techs(); track tech.length) {
      <div class="hover:translate-y-[-4px] transition-transform duration-300">
        <app-tech-badge [tech]="tech"></app-tech-badge>
      </div>
    }
  </div>
</article>
